// COLOR VARIABLES
$primary: #c69963;
$primary-dark: #B28451;

$secondary: #101d2c;

$grey-light-1: #f9f7f6;
$grey-light-2: #aaa;

$grey-dark-1: #54483A;
$grey-dark-2: #6D5D4B;

$white: #ffffff;
$red: #ff0000;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// Breakpoints
$desktop: 75em; // 1200px
$tablet-like: 56.25em; // 900px
$tablet-small: 46.875em; // 750
$phone: 34.375em; // 550px
$phone-small: 28.125em;