.btn {
  background-color: $primary;
  color: $white;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: $primary-dark;
  }
}

.nav-btn {
  border-radius: none;
  border: none;

  background-color: $white;
  height: .2rem;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: $white;
    height: .2rem;
    width: 4.5rem;
  }

  &::before {transform: translateY(-1.5rem);}
  &::after {transform: translateY(1.3rem);}
}